auto ap0
iface ap0 inet static
    address  {{ accesspoint_ap0_address_v4 }}
    netmask  {{ accesspoint_ap0_mask_v4 }}

{% if accesspoint_ap0_v6_ula_net_48 is defined -%}
iface ap0 inet6 static
    address {{ accesspoint_ap0_v6_ula_net_48 }}{{ accesspoint_ap0_v6_local_64 }}{{ accesspoint_ap0_v6_host }}/64
{% endif %}
