[Unit]
Description=Playback the %i PCM device to the alsa loopback device
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/aloopplay.sh %i
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aloopplay@%i

[Install]
WantedBy=multi-user.target
