---

- name: Restart dnsmasq
  ansible.builtin.systemd:
    name: "dnsmasq.service"
    daemon_reload: yes
    state: restarted
  ignore_errors: "{{ ansible_check_mode }}"

- name: Reboot
  ansible.builtin.reboot:
    msg: "Reboot to ensure proper network"
