# {{ ansible_managed }}
defaults.pcm.dmix.rate {{ base_audio_rate }}
defaults.pcm.dmix.format {{ base_audio_format }}
defaults.pcm.dsnoop.rate {{ base_audio_rate }}
defaults.pcm.dsnoop.format {{ base_audio_format }}
