---

- name: Exit play if os_family is not Debian
  ansible.builtin.fail:
    msg: "ERROR: os_family of host {{ inventory_hostname }} is not Debian"
  when: ansible_facts['os_family'] != "Debian"

- name: Install mpd package
  ansible.builtin.apt:
    name: mpd
    state: latest
    update_cache: yes

- name: Enable/Start mpd socket (no zeroconf)
  ansible.builtin.systemd:
    daemon_reload: yes
    name: mpd.socket
    state: started
    enabled: true
  when: mpd_zeroconf_enabled is not defined or not mpd_zeroconf_enabled
  notify: "Restart mpd"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable mpd service (with zeroconf)
  ansible.builtin.systemd:
    name: mpd
    enabled: true
  when: mpd_zeroconf_enabled is defined and mpd_zeroconf_enabled
  ignore_errors: "{{ ansible_check_mode }}"

- name: Disable/Stop mpd socket (with zeroconf)
  ansible.builtin.systemd:
    daemon_reload: yes
    name: mpd.socket
    state: stopped
    enabled: false
  when: mpd_zeroconf_enabled is defined and mpd_zeroconf_enabled
  notify: "Restart mpd"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Configure mpd
  ansible.builtin.template:
    src: templates/etc/mpd.conf.j2
    dest: /etc/mpd.conf
    backup: yes
  notify: "Restart mpd"
  ignore_errors: "{{ ansible_check_mode }}"
