# {{ ansible_managed }}
defaults.pcm.dmix.rate {{ global_audio_rate }}
defaults.pcm.dmix.format {{ global_audio_format }}
defaults.pcm.dsnoop.rate {{ global_audio_rate }}
defaults.pcm.dsnoop.format {{ global_audio_format }}
