# {{ ansible_managed }}
# minimal config, all comments removed

{% if mpd_zeroconf_enabled is defined and mpd_zeroconf_enabled -%}
zeroconf_enabled        "yes"
zeroconf_name           "mpd@%h"
port                    "6600"
{% endif %}
{% if mpd_connection_timeout is defined -%}
connection_timeout      "{{ mpd_connection_timeout }}"
{% endif %}

music_directory         "{{ mpd_music_directory }}"
playlist_directory      "/var/lib/mpd/playlists"
db_file                 "/var/lib/mpd/tag_cache"
{% if ansible_facts.distribution_major_version | int < 12 %}
log_file                "/var/log/mpd/mpd.log"
{% endif %}
pid_file                "/run/mpd/pid"
state_file              "/var/lib/mpd/state"
sticker_file            "/var/lib/mpd/sticker.sql"

user                    "mpd"

bind_to_address         "any"

max_output_buffer_size  "{{ mpd_max_output_buffer_size }}"

input {
        plugin "curl"
}

{% if mpd_music_directory is ansible.builtin.regex('^smb://') -%}
input {
        plugin "smbclient"
}

{% endif %}
input {
       plugin "alsa"
       default_format "{{ mpd_alsa_sink_format }}"
       auto_resample "no"
       auto_channels "no"
       auto_format "no"
}

audio_output {
        type            "alsa"
        name            "{{ mpd_alsa_sink_name }}"
        device          "{{ mpd_alsa_sink_device }}"
        format          "{{ mpd_alsa_sink_format }}"
{% if mpd_alsa_sink_mixer_type != 'hardware' %}
        mixer_type      "{{ mpd_alsa_sink_mixer_type }}"
{% else %}
        mixer_type      "hardware"
        mixer_device    "{{ mpd_alsa_sink_mixer_device }}"
        mixer_control   "{{ mpd_alsa_sink_mixer_control }}"
{% endif %}
}
