# {{ ansible_managed }}
START_SNAPCLIENT=true
SNAPCLIENT_OPTS="--user _snapclient:audio -h {{ item.snapclient_snapserver }}{%if item.snapclient_sink is defined %} -s {{ item.snapclient_sink }}{%endif %} --hostID {{ inventory_hostname }}"
